<!DOCTYPE html PUBLIC '-//HbbTV//1.1.1//EN' 'http://www.hbbtv.org/dtd/HbbTV-1.1.1.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <meta http-equiv='content-type' content='application/vnd.hbbtv.xhtml+xml; charset=utf-8'>
  </meta>
  <title>Consent Management Test</title>
  <script>
    //<![CDATA[
    // tracking script api mock with delayed availability
    window.setTimeout(function () {
      window.__hbb_tracking_tgt = {
        getDID: function (callback) {
          if (typeof callback === 'function') {
            callback('TEST_DID');
          }
        }
      }
    }, 200);
    //]]>
  </script>
  <script type='text/javascript' src='http://localhost:4000/v2/cmp.js?channelId=0'></script>
  <script type='text/javascript' src='http://localhost:4000/v2/banner.js?channelId=0'></script>
  <script>
    //<![CDATA[
    window.__tcfapi('addLogEventListener', 2, function ({ event, success, parameters, ts }) {
      console.warn("logEvent", event, success, parameters, ts);
    });

    var isShowingBanner = false;

    function bannerClosedCallback(consentDecision) {
      if (consentDecision === true || consentDecision === false) {
        window.__tcfapi('setConsent', 2, function (consent) {
          if (consent === true) {
            console.log('Consent accepted');
          }
          if (consent === false) {
            console.log('Consent declined');
          }
        }, consentDecision);
      } else {
        console.log('No consent decision');
      }
      isShowingBanner = false;
    }

    function showAgttConsentBanner() {
      isShowingBanner = true;
      window.__cbapi('showBanner', 2, bannerClosedCallback, 'cmp'); // mount banner to dom-node with id 'cmp'
    }

    // example for extending existing key handler of app to allow for control of buttons of the banner
    function keyHandler(event) {
      window['KeyEvent'] = window['KeyEvent'] || {};
      KeyEvent['VK_BLUE'] = KeyEvent.VK_BLUE || window['VK_BLUE'] || 406;

      if (isShowingBanner) {
        // pass on key events to library while consent banner is displayed
        window.__cbapi('handleKey', 2, undefined, event);
        return;
      } else {
        switch (event.keyCode) {
          case KeyEvent.VK_BLUE:
            showAgttConsentBanner();
            break;
          default:
            console.log(event.keyCode);
            break;
        }
      }
    }

    window.addEventListener('keydown', keyHandler);

    var CMP_VENDOR_ID = 4040;
    window.__tcfapi('getTCData', 2, function (tcData) {
      if (tcData.cmpStatus === 'loaded') {
        var consent = tcData.vendor.consents[CMP_VENDOR_ID];
        if (consent === undefined) {
          showAgttConsentBanner();
        }
        if (consent === true) {
          console.log("Consent already given");
        }
        if (consent === false) {
          console.log("Consent already declined");
        }
      }
    });
    //]]>
  </script>
</head>

<body>
  <object id='video' type='video/broadcast' fullscreen='true' width='1280' height='720'
    style='position:absolute; top: 0px; left: 0px; width: 1280px; height: 720px;'></object>
  <div style='visibility: hidden; width: 0; height: 0; position: absolute;'>
    <object id='oipfAppMngr' type='application/oipfApplicationManager'></object>
    <object id='oipfCfg' type='application/oipfConfiguration'></object>
  </div>
  <script src='<%-BROWSER_REFRESH_URL%>'></script>
  <div id='cmp'></div>
</body>

</html>
