<!DOCTYPE html PUBLIC '-//HbbTV//1.1.1//EN' 'http://www.hbbtv.org/dtd/HbbTV-1.1.1.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <meta http-equiv="content-type" content="application/vnd.hbbtv.xhtml+xml; charset=utf-8" />
  <script type='text/javascript' src='polyfill.js?v=<%-BUILD_NUMBER%>'></script>
  <script type='text/javascript'>
    //<![CDATA[
    function _message(msg) {
      if (window.parent && window.parent.postMessage) {
        window.parent.postMessage(msg, '*');
      }
    }

    function messageEventHandler(event) {
      if (!event.data || typeof event.data !== "string") {
        return;
      }

      try {
        var message = event.data.split(';');
        if (message[1] === 'cmd') {
          var id = message[0];
          var cmd = message[2];
          var version = message[3];
          var param = window.jsonParse(message[4]);
          __cmpapi(
            cmd,
            version,
            function (cbParam) {
              _message('tvicmp;' + id + ';' + window.jsonStringify({ param: cbParam }));
            },
            param.param
          );
        }
      } catch (e) {}
    }

    if (window['addEventListener']) {
      window.addEventListener('message', messageEventHandler, false);
    }

    var channelId = '<%-CHANNEL_ID%>';
    var buildNumber = '<%-BUILD_NUMBER%>';

    var q = '';
    q = q + (channelId !== '' ? '&channelId=' + channelId : '');
    q = q + (buildNumber !== '' ? '&v=' + buildNumber : '');
    q = q.length ? '?' + q.substring(1) : '';

    var cmpApiScriptTag = document.createElement('script');
    cmpApiScriptTag.setAttribute('src', window.location.protocol + '//<%-CONSENT_SERVER_HOST%><%-VERSION_PATH%>cmpapi.js' + q);
    cmpApiScriptTag.setAttribute('type', 'text/javascript');
    document.getElementsByTagName('head')[0].appendChild(cmpApiScriptTag);
    //]]>
  </script>
</head>

<body></body>

</html>
