<!DOCTYPE html PUBLIC '-//HbbTV//1.1.1//EN' 'http://www.hbbtv.org/dtd/HbbTV-1.1.1.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <meta http-equiv="content-type" content="application/vnd.hbbtv.xhtml+xml; charset=utf-8">
  </meta>
  <title></title>
  <script type='text/javascript'>
    //<![CDATA[
    try {
      var xt = '<%-XT%>';
      var channelId = '<%-CHANNEL_ID%>';
      var hasConsent = null;

      if (window.localStorage && localStorage.getItem && localStorage.setItem) {
        if (!localStorage.getItem('<%-TECH_COOKIE_NAME%>')) {
          // no tech info yet, need to store
          localStorage.setItem('<%-TECH_COOKIE_NAME%>', xt);
        } else {
          xt = localStorage.getItem('<%-TECH_COOKIE_NAME%>'); // prefer tech info from localStorage
          hasConsent = localStorage.getItem('<%-COOKIE_NAME%>');
        }
      }

      var tcfapiScriptTag = document.createElement('script');
      tcfapiScriptTag.setAttribute('src', '<%-URL_SCHEME%>://<%-CONSENT_SERVER_HOST%>/<%-API_VERSION%>/tcfapi-iframe.js?<%-TECH_COOKIE_NAME%>=' + xt + (hasConsent !== null ? '&consent=' + hasConsent : '') + (channelId !== '' ? '&channelId=' + channelId : ''));
      tcfapiScriptTag.setAttribute('type', 'text/javascript');
      document.head.appendChild(tcfapiScriptTag);
    } catch (e) { }
    //]]>
  </script>
</head>

<body></body>

</html>
