<!DOCTYPE html PUBLIC '-//HbbTV//1.1.1//EN' 'http://www.hbbtv.org/dtd/HbbTV-1.1.1.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <meta http-equiv="content-type" content="application/vnd.hbbtv.xhtml+xml; charset=utf-8">
  </meta>
  <title></title>
  <script type='text/javascript'>
    //<![CDATA[
    try {
      var channelId = '<%-CHANNEL_ID%>';

      var techCookieTimestamp = '<%-TECH_COOKIE_TIMESTAMP%>';
      var hasConsent = null;
      var hasConsentAdditionalChannels = null;

      if (window.localStorage && localStorage.getItem && localStorage.setItem) {
        if (!localStorage.getItem('<%-TECH_COOKIE_NAME%>')) {
          // no tech info yet, need to store
          localStorage.setItem('<%-TECH_COOKIE_NAME%>', techCookieTimestamp);
        } else {
          techCookieTimestamp = localStorage.getItem('<%-TECH_COOKIE_NAME%>'); // prefer tech info from localStorage
          hasConsent = localStorage.getItem('<%-COOKIE_NAME%>');
          hasConsentAdditionalChannels = localStorage.getItem('<%-COOKIE_NAME_ADDITIONAL_CHANNELS%>')
        }
      }

      var cmpApiScriptTag = document.createElement('script');
      cmpApiScriptTag.setAttribute('src', '<%-CONSENT_SERVER_PROTOCOL%>://<%-CONSENT_SERVER_HOST%>/<%-API_VERSION%>/cmpapi-iframe.js?<%-TECH_COOKIE_NAME%>=' + techCookieTimestamp + (hasConsent !== null ? '&consent=' + hasConsent : '') + (hasConsentAdditionalChannels !== null ? '&consentAdditionalChannels=' + hasConsentAdditionalChannels : '') + (channelId !== '' ? '&channelId=' + channelId : ''));
      cmpApiScriptTag.setAttribute('type', 'text/javascript');
      document.getElementsByTagName('head')[0].appendChild(cmpApiScriptTag);
    } catch (e) { }
    //]]>
  </script>
</head>

<body></body>

</html>
