<!DOCTYPE html PUBLIC '-//HbbTV//1.1.1//EN' 'http://www.hbbtv.org/dtd/HbbTV-1.1.1.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <meta http-equiv="content-type" content="application/vnd.hbbtv.xhtml+xml; charset=utf-8">
  </meta>
  <title></title>
  <script type='text/javascript'>
    //<![CDATA[
    try {
      var xt = <% -XT %>;
      var channelId = '<% -CHANNEL_ID %>';
      var hasConsent;

      if (window.localStorage && localStorage.getItem && localStorage.setItem) {
        if (!localStorage.getItem('xt')) {
          // no tech info yet, need to store
          localStorage.setItem('xt', xt);
        } else {
          xt = localStorage.getItem('xt'); // prefer tech info from localStorage
          hasConsent = localStorage.getItem('xconsent');
        }
      }

      var s = document.createElement('script');
      s.setAttribute('src', '<%-URL_SCHEME%>://<%-CONSENT_SERVER_HOST%>/manager-iframe<%-BANNER%>.js?xt=' + xt + (hasConsent !== null ? '&consent=' + hasConsent : '') + (channelId !== '' ? '&channelId=' + channelId : ''));
      s.setAttribute('type', 'text/javascript');
      document.getElementsByTagName('head')[0].appendChild(s);
    } catch (e) { }
    //]]>
  </script>
</head>

<body></body>

</html>
