name: Build, test and release
on:
  push:
    branches:
      - "!develop"
    tags:
      - "v*.*.*"

jobs:
  build-and-push-image:
    name: Build and push image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    timeout-minutes: 30

    steps:
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Checkout repository
        id: checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        id: install
        run: npm install

      - name: Lint
        id: lint
        run: npm run lint

      - name: Build app
        id: build
        run: npm run build

      - name: Test app
        id: test
        run: npm run ci
        env:
          HTTP_PORT: 3000
          HTTP_HOST: localhost:3000
          COOKIE_DOMAIN: localhost
          CMP_ENABLED_SAMPLING_THRESHOLD_PERCENT: 100
          API_VERSION: v2
          META_ENDPOINT: http://session-consent.dev.tv-insight.com/meta.gif

      - name: Install k6
        run: |
          curl https://github.com/loadimpact/k6/releases/download/v0.26.2/k6-v0.26.2-linux64.tar.gz -L | tar xvz --strip-components 1

      - name: Run local k6 test
        env:
          HTTP_PORT: 3000
          HTTP_HOST: localhost:3000
          COOKIE_DOMAIN: localhost
          CMP_ENABLED_SAMPLING_THRESHOLD_PERCENT: 100
          API_VERSION: v2
          META_ENDPOINT: http://session-consent.dev.tv-insight.com/meta.gif
        run: |
          npm start & npx wait-on http://localhost:3000/health
          ./k6 run ./load_test/core.js --vus 50 --iterations 1000

      - name: Log in to container registry
        id: login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=${{  github.ref_name }}

      - name: Build and push docker image
        id: build_push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
